@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Lato:wght@300&display=swap');

header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 150px;
    font-size: 2em;
    background-color: #BC4749;
    font-family: 'Lato', Helvetica, sans-serif;
}
.logo{
    padding: 15px;
}
nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
}
nav a{
    text-align: center;
    padding: 50px;
    color: #F2E8CF;
}
.button-box{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.buttons{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.headerbuttons{
    width: 150px;
    margin: 8px 0;
}
body{
    background-color: #A7C957;
}
#classes-msg{
    background-color:#A7C957;
}
.classes-msg{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 50px;
    border: black 2px solid;
    background-color: white;
}
h2{
    font-family: 'Fuzzy Bubbles';
    color:#386641;
    padding-bottom: 50px;
}
h4{
    font-family: 'Leto', Helvetica, sans-serif;
    color: #BC4749;
}
.subjects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#math{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 80px;
    text-align: center;
}
#math-but{
    width: 300px;
    background-color: #F2E8CF;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #BC4749;
    transition-duration: 0.4s;
    font-family: "Fuzzy Bubbles";
    font-size: large;
}
#math-but:hover{
    background-color: #386641;
    color: white;
}
#chemestry{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 80px;
    text-align: center;
}
#chemestry-but{
    width: 300px;
    background-color: #F2E8CF;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #BC4749;
    transition-duration: 0.4s;
    font-family: "Fuzzy Bubbles";
    font-size: large;
}
#chemestry-but:hover{
    background-color: #386641;
    color: white;
}
#languages{
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 80px;
    text-align: center;
}
#languages-but{
    width: 300px;
    background-color: #F2E8CF;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #BC4749;
    transition-duration: 0.4s;
    font-family: "Fuzzy Bubbles";
    font-size: large;
}
#languages-but:hover{
    background-color: #386641;
    color: white;
}
#geography{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 80px;
    text-align: center;
}
#geography-but{
    width: 300px;
    background-color: #F2E8CF;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #BC4749;
    transition-duration: 0.4s;
    font-family: "Fuzzy Bubbles";
    font-size: large;
}
#geography-but:hover{
    background-color: #386641;
    color: white;
}
#history{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 80px;
    text-align: center;
}
#history-but{
    width: 300px;
    background-color: #F2E8CF;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #BC4749;
    transition-duration: 0.4s;
    font-family: "Fuzzy Bubbles";
    font-size: large;
}
#history-but:hover{
    background-color: #386641;
    color: white;
}
#natural_sciences{
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 80px;
    text-align: center;
}
#nat-sciences-but{
    width: 300px;
    background-color: #F2E8CF;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #BC4749;
    transition-duration: 0.4s;
    font-family: "Fuzzy Bubbles";
    font-size: large;
}
#nat-sciences-but:hover{
    background-color: #386641;
    color: white;
}
#physics{
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 80px;
    text-align: center;
}
#physics-but{
    width: 300px;
    background-color: #F2E8CF;
    font-size: 16px;
    border-radius: 6px;
    border: 2px solid #BC4749;
    transition-duration: 0.4s;
    font-family: "Fuzzy Bubbles";
    font-size: large;
}
#physics-but:hover{
    background-color: #386641;
    color: white;
}
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #BC4749;
    align-items: center;
    padding: 50px;
    font-family: 'Lato', Helvetica, sans-serif;
}
footer p{
    font-size: 1.5em;
    color: #F2E8CF;
}
.social{
    grid-column: 3/4;
    padding-left: 265px;
}
footer .social img {
    padding-top: 15px;
    grid-column: 3/4;
}
footer a:hover{
    background-color:#F2E8CF;
    color:#386641;
}