@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Lato:wght@300&display=swap');

header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 150px;
    font-size: 2em;
    background-color: #BC4749;
    font-family: 'Lato', Helvetica, sans-serif;
}
.logo{
    padding: 15px;
}
nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
}
nav a{
    text-align: center;
    padding: 50px;
    color: #F2E8CF;
}
.button-box{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
body{
    background-color: #A7C957;
}
#classes-msg{
    background-color:#A7C957;
}
.classes-msg{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 50px;
    border: black 2px solid;
    background-color: white;
}
h2{
    font-family: 'Fuzzy Bubbles';
    color:#386641;
    padding-bottom: 50px;
}
h4{
    font-family: 'Leto', Helvetica, sans-serif;
    color: #BC4749;
}
.subjects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
#math{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 90px;
}
#chemestry{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 80px;
}
#languages{
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 90px;
}
#geography{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 90px;
}
#history{
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 90px;
}
#natural_sciences{
    grid-column: 3/4;
    grid-row: 2/3;
    padding: 90px;
}
#physics{
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 90px;
}
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #BC4749;
    align-items: center;
    padding: 50px;
    font-family: 'Lato', Helvetica, sans-serif;
}
footer p{
    font-size: 1.5em;
    color: #F2E8CF;
}
.social{
    grid-column: 3/4;
    padding-left: 265px;
}
footer .social img {
    padding-top: 15px;
    grid-template-columns: 3/4;
}
footer a:hover{
    background-color:#F2E8CF;
    color:#386641;
}