@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Lato:wght@300&display=swap');

header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 150px;
    font-size: 2em;
    background-color: #BC4749;
    font-family: 'Lato', Helvetica, sans-serif;
}
.logo{
    padding: 15px;
}
nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
}
nav a{
    text-align: center;
    padding: 50px;
    color: #F2E8CF;
}
.button-box{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.buttons{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.headerbuttons{
    width: 150px;
    margin: 8px 0;
}
#registration{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: repeat(7, 171.4px);
    background-color: #A7C957;
}
.teacher{
    grid-column: 1/2;
    grid-row: 1/8;
}
h1{
    font-family: 'Fuzzy Bubbles';
    text-align: center;
    margin-right: 50px;
    padding: 20px;
    color: #386641;
    font-size: xx-large;
    grid-column: 2/3;
    grid-row: 1/2;
}
h2{
    font-family: 'Fuzzy Bubbles';
    color: #386641;
    text-align: center;
    font-size: x-large;
}
input{
    width: 550px;
    height: 30px;
    margin: 70px;
}
label{
    margin-left: 70px;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: large;
}
#sub{
    margin-left: 70px;
    font-family: 'Fuzzy Bubbles';
    font-size: 25px;
    width: 600px;
    border-radius: 6px;
    color: #386641;
    background-color: #F2E8CF;
}
#sub:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.adventages{
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: 300px 420px;
    background-color: #F2E8CF;
}
#adventages-text{
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: 'Lato', Helvetica, sans-serif;
}
#vignettes{
    text-align: left;
    margin-left: 10%;
    font-size:medium;
    line-height: 65px;
}
.advantages-img{
    grid-column: 2/3;
    grid-row: 2/3;  
}
#im-a-teacher-msg{
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    line-height: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 50px;
    border: black 2px solid;
    background-color: white;
    font-family: 'Leto', Helvetica, sans-serif;
}
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #BC4749;
    align-items: center;
    padding: 50px;
    font-family: 'Lato', Helvetica, sans-serif;
}
footer p{
    font-size: 1.5em;
    color: #F2E8CF;
}
.social{
    padding-left: 265px;
}
footer .social img {
    padding-top: 15px;
    grid-column: 3/4;
}
footer a:hover{
    background-color:#F2E8CF;
    color:#386641;
}